.header {
  color: #fff;
  background: #323276;
  height: 190px;
  &-inner {
    box-sizing: border-box;
    max-width: 1280px;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;
  }
  &-site-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    padding: 15px 0;
    &__item {
      margin-left: 16px;
    }
  }
  &-main {
    display: flex;
    align-items: center;
    &__logo {
      margin-right: 26px;
      margin-bottom: 13px;
    }
    &-search {
      width: 420px;
      line-height: 100%;
      background: #fff;
      margin-right: 14px;
      &__sort {
        height: 32px;
      }
      &__input {
        border: none;
        width: 68%;
        height: 30px;
      }
    }
    &__btn {
      font-size: 13px;
      margin: 2px;
      height: 30px;
      line-height: 30px;
      &--syosai {
        width: 72px;
      }
      &--calender {
        width: 120px;
      }
    }
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    color: #fff;
  }
}
