include /_config

block variables

doctype html
html(lang='ja')
  head
    if title
      title= `${title} | ${siteName}`
    else
      title= siteName
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width ,initial-scale=1')
    link(rel='manifest' href='./manifest.manifest')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
    link(rel='stylesheet' href='./css/style.css')
    block meta
  body
    include /layouts/_header

    block content

    include /layouts/_footer

    if jquery
      script(src='https://code.jquery.com/jquery-3.3.1.slim.js')

    script(src='./js/script.js')
    block script
