header.header
  .header-inner
    .header-site-nav
      a(href="").header-site-nav__item.arrow 会社概要
      a(href="").header-site-nav__item.arrow アクセス
      a(href="").header-site-nav__item.arrow 採用情報
      a(href="").header-site-nav__item.arrow お問い合わせ
      a(href="").header-site-nav__item.arrow 関連サイト一覧
    .header-main
      h1.header-main__logo
        img(src='https://dummyimage.com/290x42.png' alt='')
      .header-main-search__wrap
        .header-main-search
          select.header-main-search__sort
            option(value='0') 発売日順
            option(value='1') 関連度順
          input(type='search').header-main-search__input
        a.header-main__btn.header-main__btn--syosai.arrow 詳細検索
        a.header-main__btn.header-main__btn--calender.arrow 新刊カレンダー
  .header-keywords
    .header-keywords__container
      p よく検索されるキーワード
      span 内なる声
      span 犬儒派の牧歌
      span 犬の歌
      span 徒党を組んで
      span 偽善者のコラール
      span 手探りフーガ
      span たくましい幻想曲
      span 自動描写
      span 乾燥胎児
  .header-nav
    .header-nav__container
      a.header-nav__item.arrow--down MUTE
      a.header-nav__item.arrow--down NOISE
      a.header-nav__item.arrow--down DIN
      a.header-nav__item.arrow--down SINE WAVE
      a.header-nav__item.arrow--down SQUARE
      a.header-nav__item.arrow--down WHITE
      a.header-nav__item.arrow--down PINK
      a.header-nav__item.arrow--down DRONE
      a.header-nav__item.arrow--down CREAK
      a.header-nav__item.arrow--down EMISSION
      a.header-nav__item.arrow--down RECITATION
      a.header-nav__item.arrow--down LIFENOISE

header.sp-header
  a.sp-header__menu-btn.js-accordion-trigger
    i.fas.fa-bars.menu-icon
  h1.sp-header__logo
    img(src='https://dummyimage.com/290x42.png' alt='')
.sp-header-nav
  .sp-header-search__wrap
    .sp-header-search
      select.sp-header-search__sort
        option(value='0') 発売日順
        option(value='1') 関連度順
      input(type='search').sp-header-search__input
    a.sp-header__btn.sp-header__btn--syosai.arrow 商品を詳しく検索する
    a.sp-header__btn.sp-header__btn--calender.arrow 新刊カレンダーを確認する
  .sp-header-keywords
    .sp-header-keywords__container
      p よく検索されるキーワード
      .sp-header-keywords-items
        span 内なる声
        span 犬儒派の牧歌
        span 犬の歌
        span 徒党を組んで
        span 偽善者のコラール
        span 手探りフーガ
        span たくましい幻想曲
        span 自動描写
        span 乾燥胎児
  .sp-header-main-nav
    a.sp-header-main-nav__item.arrow--down MUTE
    a.sp-header-main-nav__item.arrow--down NOISE
    a.sp-header-main-nav__item.arrow--down DIN
    a.sp-header-main-nav__item.arrow--down SINE WAVE
    a.sp-header-main-nav__item.arrow--down SQUARE
    a.sp-header-main-nav__item.arrow--down WHITE
    a.sp-header-main-nav__item.arrow--down PINK
    a.sp-header-main-nav__item.arrow--down DRONE
    a.sp-header-main-nav__item.arrow--down CREAK
    a.sp-header-main-nav__item.arrow--down EMISSION
    a.sp-header-main-nav__item.arrow--down RECITATION
    a.sp-header-main-nav__item.arrow--down LIFENOISE
