header.header
  .header-inner
    .header-site-nav
      a(href="").header-site-nav__item.arrow 会社概要
      a(href="").header-site-nav__item.arrow アクセス
      a(href="").header-site-nav__item.arrow 採用情報
      a(href="").header-site-nav__item.arrow お問い合わせ
      a(href="").header-site-nav__item.arrow 関連サイト一覧
    .header-main
      h1.header-main__logo
        img(src='https://dummyimage.com/290x42.png' alt='')
      .header-main-search
        select.header-main-search__sort
          option(value='0') 発売日順
          option(value='1') 関連度順
        input(type='search').header-main-search__input
      a.header-main__btn.header-main__btn--syosai.arrow 詳細検索
      a.header-main__btn.header-main__btn--calender.arrow 新刊カレンダー
  .header-keywords
  .header-nav
