.carousel-area
  .carousel.slick-box
    img(src='https://dummyimage.com/600x250.png' alt='').carousel__img
    img(src='https://dummyimage.com/600x250.png' alt='').carousel__img
    img(src='https://dummyimage.com/600x250.png' alt='').carousel__img
    img(src='https://dummyimage.com/600x250.png' alt='').carousel__img
    img(src='https://dummyimage.com/600x250.png' alt='').carousel__img
