.carousel-area
  .carousel.slick-box
    img(src='https://dummyimage.com/600x250.png' alt='').carousel__img
    img(src='https://dummyimage.com/600x250.png' alt='').carousel__img
    img(src='https://dummyimage.com/600x250.png' alt='').carousel__img
    img(src='https://dummyimage.com/600x250.png' alt='').carousel__img
    img(src='https://dummyimage.com/600x250.png' alt='').carousel__img

.speech-area
  h2
  .speech-area__container
    textarea(cols='1' readonly='readonly')#js-speech-number.speech-area__number ドラえもんのセリフを読み上げます。
    textarea(cols='10')#js-speech-txt.speech-area__input
     | この道は見通しがいいから
    input(type='button' value='読む')#js-speech-btn.speech-area__btn
  .speech-area__btn-container
    img(src='./imgs/diary.png' alt='')#js-txt-change-btn-1.speech-area__txt-change-btn
    img(src='./imgs/diary.png' alt='')#js-txt-change-btn-2.speech-area__txt-change-btn
    img(src='./imgs/diary.png' alt='')#js-txt-change-btn-3.speech-area__txt-change-btn
    img(src='./imgs/diary.png' alt='')#js-txt-change-btn-4.speech-area__txt-change-btn
    img(src='./imgs/diary.png' alt='')#js-txt-change-btn-5.speech-area__txt-change-btn
    img(src='./imgs/diary.png' alt='')#js-txt-change-btn-6.speech-area__txt-change-btn




